services:
  postgres:
    image: postgres:16
    container_name: travel_postgres
    restart: always

    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
      POSTGRES_DB: travel_db

    ports:
      - "5432:5432"

    volumes:
      - ./postgres-data:/var/lib/postgresql/data
